<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="info" monitorInterval="5">

        <Appenders>
                <Console name="Console" target="SYSTEM_OUT">
                        <PatternLayout
                                pattern="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] [%p] [%F:%L] [%c.%M] [%t]: %m%n" />
                </Console>
                <RollingFile name="SysRollingFile"
                        fileName="${sys:user.home}/logs/info.log"
                        filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
                        <PatternLayout charset="UTF-8"
                                pattern="[%-d{yyyy-MM-dd HH:mm:ss,SSS}] [%p] [%F:%L] [%c.%M] [%t]: %m%n" />
                        <Policies>
                                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                                <SizeBasedTriggeringPolicy size="250 MB" />
                        </Policies>
                </RollingFile>
                <Syslog charset="UTF-8" name="RFC5424" format="RFC5424" host="10.17.4.20"
                        port="9999" protocol="UDP" facility="LOCAL0" newLine="true"
                        messageId="wallet-msg" appName="wallet-app" mdcId="wallet-mdc">
                        <LoggerFields>
                                <KeyValuePair key="thread" value="%t" />
                                <KeyValuePair key="level" value="%p" />
                                <KeyValuePair key="class" value="%c" />
                                <KeyValuePair key="method" value="%M" />
                                <KeyValuePair key="file" value="%F:%L" />
                                <KeyValuePair key="exception" value="%ex" />
                        </LoggerFields>
                </Syslog>
        </Appenders>
        <Loggers>
                <logger name="SETTLE" level="info" additivity="true">
                        <AppenderRef ref="SettleRollingFile" />
                </logger>
                <Root level="info">
                	<!--  本地测试可关闭，生产环境打开才能有效备份日志文件 -->
                     <!--  <AppenderRef ref="SysRollingFile" /> -->
                        <AppenderRef ref="Console" />
                     <!-- <AppenderRef ref="RFC5424" /> -->
                </Root>
        </Loggers>
</Configuration>
